apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: telegraf-mqtt
  namespace: monitoring
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: telegraf-mqtt
  namespaceSelector:
    matchNames:
      - monitoring
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
