grafana:
  adminPassword: admin
  service:
    type: ClusterIP
    port: 80
  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    ingressClassName: nginx
    hosts:
      - grafana.local
    path: /
    pathType: Prefix
    tls:
      - hosts:
          - grafana.local
        secretName: grafana-tls
  persistence:
    enabled: true
    size: 2Gi

prometheus:
  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    ingressClassName: nginx
    hosts:
      - prometheus.local
    paths:
      - /
    pathType: Prefix
  prometheusSpec:
    retention: 15d
    enableAdminAPI: false
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelector:
      matchLabels:
        release: monitoring
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

alertmanager:
  enabled: true
  ingress:
    enabled: false

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true
